.row.show-grid
  .col-md-12.col-sm-12
    .row.show-grid.clear-both
      / BEGIN LEFT-SIDEBAR
      #left-sidebar.col-md-3.col-sm-3.sidebar
        / LEFT-SIDEBAR: SIDEBAR NAVIGATION
        .side-nav.sidebar-block
          %h2 Learn More
          %ul
            %li.single{class: "#{nav_active(home_path)}"}
              = link_to "Home", home_path
            %li.single{class: "#{nav_active(about_path)}"}
              = link_to "About", about_path
            %li.single{class: "#{nav_active(residential_path)}"}
              = link_to "Residential", residential_path
            %li.single{class: "#{nav_active(commercial_path)}"}
              = link_to "Commercial", commercial_path
            %li.single{class: "#{nav_active(products_path)}"}
              = link_to "Products", products_path
      / END LEFT-SIDEBAR
      / BEGIN ARTICLE CONTENT AREA
      .col-md-6.col-sm-6.main-column.three-columns-central
        %article
          %h1 ABOUT US
          %p Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          / %img.bordered-img.img-responsive{:alt => "", :src => "img/about-us.jpg"}/
          %p Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.
          %p Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
          %p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.
          %p Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      / END ARTICLE CONTENT AREA
      / BEGIN RIGHT-SIDEBAR
      #right-sidebar.col-md-3.col-sm-3.sidebar
        / RIGHT-SIDEBAR: TEXT WIDGET AREA
        .text-widget.sidebar-block
          %h2 Text Widget
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi
        / RIGHT-SIDEBAR: TAGS WIDGET AREA
        / .tags-widget.sidebar-block
        /   %h2 Tags
        /   %ul
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} blog
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} photo
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} news
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} business
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} commercial
        /     %li
        /       %p
        /         %i.icon-tags
        /         %a{:href => "#"} design
        / / RIGHT-SIDEBAR: GALLERY WIDGET AREA
        / .gallery-widget.sidebar-block
        /   %h2 Gallery Widget
        /   %ul
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget01.jpg"}/
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget02.jpg"}/
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget03.jpg"}/
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget04.jpg"}/
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget05.jpg"}/
        /     %li
        /       %a.photo{:href => "#"}
        /         %img{:alt => "", :src => "img/blog-widget06.jpg"}/
      / END RIGHT-SIDEBAR
