.row
	.col-md-12.col-sm-12
		.row.show-grid.clear-both
			/ BEGIN ARTICLE CONTENT AREA
			.col-sm-8.col-sm-offset-2.center-column
				%article
					%h1
						=fa_icon "building-o lg", class: "pull-right"
						COMMERCIAL SERVICES
					.text-divider1
					%ul.fa-ul.restech-list
						%li
							= fa_icon "star li", class: ""
							1 Hour Priority Service
						%li
							= fa_icon "star li", class: ""
							Preventative Maintenance Programs
						%li
							= fa_icon "star li", class: ""
							Personalized Service
						%li
							= fa_icon "star li", class: ""
							Drain Cleaning & Hydro-jetting Services
						%li
							= fa_icon "star li", class: ""
							Video Pipe Inspection & Leak Detection
						%li
							= fa_icon "star li", class: ""
							24 Hour Emergeny Serivce
						%li
							= fa_icon "star li", class: ""
							Grease Trap Pumping & Cleaning
						%li
							= fa_icon "star li", class: ""
							Expert Plumbing & Repair Technicians
					%p Get Professional Priority Service From	ResTech Plumbing & Drains
					%p Get real savings and professional service when you open an account with ResTech Plumbing & Drains. When you call on us we give you an On Time Service Guarantee and Special Rate Pricing.
					%p Let ResTech Plumbing & Drains Save You Time & Money
					%p We offer preventative maintenance programs and 24 hour emergency service to meet your needs, and our preventative maintenance programs can save you time and money. We guarantee our work between scheduled maintenances. (see terms and conditions)
					%p
						Free Estimates... ResTech Plumbing & Drains
						&nbsp;
						= link_to "(951) 737-5800", "tel:951-737-5800"
