.row
  / MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER)
  .col-sm-12.col-md-12
    .bannercontainer
      .banner
        .row
          .col-sm-12.col-md-7
            = image_tag "istock/plumber-at-work.jpg", alt: "Banner Image", class: "img-fullwidth thumbnail"
          .col-sm-12.col-md-5
            .grey-box.hero-block-2
              %h1
                THE TRUSTED PLUMBING EXPERTS
              %p
                = fa_icon "wrench 4x", class: "text-muted pull-left"
                ResTech Plumbing and Drain is the #1 name in plumbing and drain services.
                You can rely on our plumbers for fast, expert service.
              = link_to contact_path, class: "btn btn-warning" do
                Get a Free Quote
  / .col-sm-12.col-md-12
  /   .horizontal-divider
  .row.main-block.index1
    .col-sm-12.col-md-12
      / MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST
      .row.show-grid.hero-list
        .col-sm-3.col-md-3
          .image-wrapper
            .img
              = fa_icon "exclamation-triangle 3x inverse"
          .image-text
            %h2 Emergency Service
            %p
              We can help when you need fast and reliable help in an emergency
              %a{:href => "#"} Learn more&raquo;
          .clear
        .col-sm-3.col-md-3
          .image-wrapper
            .img
              = fa_icon "clock-o 3x inverse"
          .image-text
            %h2 Available 24/7
            %p
              ResTech Plumbers are available to help day and night, 7 days a week.
              %a{:href => "#"} Learn more&raquo;
          .clear
        .col-sm-3.col-md-3
          .image-wrapper
            .img
              = fa_icon "thumbs-o-up 3x inverse"
          .image-text
            %h2 Trusted & Recommended
            %p
              ResTech comes
              = link_to "highly recommended", "http://www.yelp.com/biz/restech-plumbing-and-drains-norco", class: "display-inline", target: '_blank'
              by our customers
              %a{:href => "#"} Learn more&raquo;
          .clear
        .col-sm-3.col-md-3
          .image-wrapper
            .img
              = fa_icon "certificate 3x inverse"
          .image-text
            %h2 Licensed & Insured
            %p
              ResTech is fully licensed and insured, so there is zero liability for homeowners.
              any device.
              %a{:href => "#"} Learn more&raquo;
          .clear
    / .col-sm-12.col-md-12
    /   .horizontal-divider
  / = render 'hero_list' 
  