.row
	.col-md-12.col-sm-12
		.row.show-grid.clear-both
			/ BEGIN ARTICLE CONTENT AREA
			.col-sm-8.col-sm-offset-2.center-column
				%article
					/ %span.fa-stack.fa-3x
					/ 	=fa_icon "circle stack-2x", class: ""
					/ 	=fa_icon "home stack-1x inverse", class: ""
					%h1
						=fa_icon "home lg", class: "pull-right"
						RESIDENTIAL SERVICES
					.text-divider1
					%ul.fa-ul.restech-list
						%li
							= fa_icon "star li", class: ""
							Pipe Leaks & Slab Leaks
						%li
							= fa_icon "star li", class: ""
							Drain Stoppages & Sewer Repair
						%li
							= fa_icon "star li", class: ""
							Water Heater Install & Repair
						%li
							= fa_icon "star li", class: ""
							Shower Valve Repair & Replace
						%li
							= fa_icon "star li", class: ""
							Video Pipe Inspection & Leak Detection
						%li
							= fa_icon "star li", class: ""
							Toilet Repair & Replace
						%li
							= fa_icon "star li", class: ""
							Gas Line Repair & Replace
						%li
							= fa_icon "star li", class: ""
							Garbage Disposal & Diswasher Installs
					%p
						Call Us For A Free Estimate!
						&nbsp;
						= link_to "(951) 737-5800", "tel:951-737-5800"
