%footer#footer
  .footer-top
  .footer-wrapper
    .container
      .row.show-grid
        .col-sm-12.col-md-12
          .row.show-grid
            / FOOTER: LOGO
            .col-sm-4.col-md-4
              / %img.footer-logo.img-responsive{:alt => "", :src => "img/grey_logo.png"}
              /= image_tag "logo-bw.png", class: "footer-logo img-responsive"
              / FOOTER: ADDRESS
              %address.address
                / %p
                /   = fa_icon "map-marker 2x"
                /   3845 Pedley Ave
                / %p
                /   %i &nbsp;
                /   Norco, CA 92860
                %p
                  = fa_icon "phone 2x"
                  Phone: (951) 737-5800
            / FOOTER: ABOUT US
            .col-sm-4.col-md-4.footer-center
              %h4.center-title About Us
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
                magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque
                viverra vehicula sem ut volutpat.
              / %p
              /   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
              /   magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque
              /   viverra vehicula sem ut volutpat.
            / FOOTER: NAVIGATION LINKS
            .col-sm-4.col-md-4.footer-right
              %h4.center-title Navigate
              %ul.footer-navigate
                %li
                  = link_to "Home", home_path
                %li
                  = link_to "About", about_path
                %li
                  = link_to "Residential", residential_path
                %li
                  = link_to "Commercial", commercial_path
                %li
                  = link_to "Products", products_path
                %li
                  = link_to "Contact", contact_path
  .footer-top
  .footer-bottom
    .container
      .row.show-grid
        / FOOTER: COPYRIGHT TEXT
        .col-sm-12.col-md-12.text-center
          %p
            ©
            = link_to 'ResTech Plumbing and Drains', root_path
            #{Time.now.year}