%footer#footer
  .footer-wrapper
    .container
      .row.show-grid
        .col-sm-12.col-md-12
          .row.show-grid
            / FOOTER: ABOUT US
            .col-sm-5.col-sm-offset-1.footer-center
              %h4 ABOUT
              %ul.footer-list
                %li
                  <i>R</i>eliable <i>E</i>xceptional <i>S</i>ervice <i>TECH</i>nicians
                %li Serving Riverside, San Bernardino & Los Angeles Counties
                %li 24/7 Emergency Service
                %li
                  Call
                  = link_to "(951) 737-5800", "tel:951-737-5800"              
            / FOOTER: REVIEWS
            .col-sm-5
              %h4.center-title REVIEWS
              .row
                .col-xs-5.col-xs-offset-1.col-sm-6.col-sm-offset-0
                  = link_to "http://www.yelp.com/biz/restech-plumbing-and-drains-norco", class: "", target: "_blank" do
                    = image_tag("yelp.svg", alt: "ResTech Yelp Reviews", title: "ResTech Yelp Reviews", class: "yelp-logo review-logo")
                .col-xs-3.col-xs-offset-1.col-sm-4.col-sm-offset-1
                  = link_to "http://www.yellowpages.com/norco-ca/mip/restech-plumbing-and-drain-465317947", class: "", target: "_blank" do
                    = image_tag("yp.svg", alt: "ResTech Yellow Pages Reviews", title: "ResTech Yellow Pages Reviews", class: "yp-logo review-logo")
  .footer-top
  .footer-bottom
    .container
      .row.show-grid
        / FOOTER: COPYRIGHT TEXT
        .col-sm-12.col-md-12.text-center
          %p
            ©
            #{Time.now.year}
            = link_to 'ResTech Plumbing and Drains', root_path
            