/ THE LINE AT THE VERY TOP OF THE PAGE
.top_line
/ HEADER AREA
%header
  .container
    .row{height:"155px"}
      / HEADER: LOGO AREA
      .col-sm-4.col-md-4.logo
        = link_to home_path, class: 'logo' do
          = image_tag("logo.png", alt: "ResTech Plumbing", title: "ResTech Plumbing", height:"140px")
      .col-sm-4.col-md-4.col-sm-offset-4.col-md-offset-4
        / HEADER: PHONE NUMBER
        %p.head_phone
          %a{:href => "tel:951-737-5800"} (951) 737-5800
        = link_to "http://www.yelp.com/biz/restech-plumbing-and-drains-norco", class: "pull-right logo", target: "_blank" do
          %i.pull-right.muted Check out our reviews on:
          = image_tag("yelp-logo.png", alt: "ResTech Yelp Page", title: "ResTech Yelp Page", width: "120px", class: "pull-right clear-both")
      / HEADER: SOCIAL ICONS
      / %ul.socials.unstyled
      /   %li
      /     %a.flickr{:href => "#"}
      /   %li
      /     %a.twitter{:href => "#"}
      /   %li
      /     %a.facebook{:href => "#"}
      /   %li
      /     %a.youtube{:href => "#"}
      /   %li
      /     %a.dribbble{:href => "#"}
      /   %li
      /     %a.pinterest{:href => "#"}
      /   %li
      /     %a.linkedin{:href => "#"}
      /   %li
      /     %a.google_plus{:href => "#"}
  / HEADER: PRIMARY SITE NAVIGATION
  = render 'layouts/navigation'